@model IEnumerable<Entry>

@foreach (var item in Model)
{
    <div class="row">
        <h2><a asp-action="b" asp-route-id="@item.EntryFileName" >@item.Title</a><span class="pull-right"><small class="help-block">@item.EntryDate.ToString("MMMM dd, yyyy")</small></span></h2>
        <h3>@item.SubTitle </h3>
        <p>@item.FeaturedContent</p>
    </div>
}

